${site-head()}

<body>
  $for(include-before)$
  $include-before$
  $endfor$

  ${main-header()}
  <main class="site-main">
    <div class="container">
      <div class="meta">
	$if(date)$
	<time class="published">$date$</time>
	$endif$
      </div>
      
      <h1 class="title">$title$</h1>

      $body$

      <div class="post-notes">
	$footnotes$
      </div>

      $if(further-reading)$
      <div class="further-reading">
	<h2>Further Reading</h2>
	<ul>
	  $for(further-reading)$
	  <li>$further-reading$</li>
	  $endfor$
	</ul>
      </div>
      $endif$

      $if(related)$
      <div class="related">
	<h2>Related</h2>
	<ul>
	  $for(related)$
	  <li><a href="./$related$.html">$related$</a></li>
	  $endfor$
	</ul>
      </div>
      $endif$

      $if(references)$
      <div class="references">
	<h2>References</h2>
	<ul>
	  $for(references)$
	  <li>$references$</li>
	  $endfor$
	</ul>
      </div>
      $endif$

      <br>
      <br>
      <p>Return to <em><a href="/">Home</a></em></p>
    </div>
  </main>
  ${main-footer()}

  $for(include-after)$
  $include-after$
  $endfor$
</body>

