${site-head()}

<body>
  $for(include-before)$
  $include-before$
  $endfor$

  ${main-header()}
  <main class="site-main">
    <div class="body-start">
      $body$

      <div class="post-notes">
	$footnotes$
      </div>

      $if(further-reading)$
      <div class="further-reading">
	<div clas="container flow">
	  <h2>Further Reading</h2>
	  <ul>
	    $for(further-reading)$
	    <li>$further-reading$</li>
	    $endfor$
	  </ul>
	</div>
      </div>
      $endif$

      $if(related)$
      <div class="related">
	<div class="container flow">
	  <h2>Related</h2>
	  <ul>
	    $for(related)$
	    <li><a href="./$related$.html">$related$</a></li>
	    $endfor$
	  </ul>
	</div>
      </div>
      $endif$

      $if(references)$
      <div class="references">
	<div class="container flow">
	  <h2>References</h2>
	  <ul>
	    $for(references)$
	    <li>$references$</li>
	    $endfor$
	  </ul>
	</div>
      </div>
      $endif$

    </div>
  </main>
  ${main-footer()}

  $for(include-after)$
  $include-after$
  $endfor$
</body>

