<header class="site-header">
  <div class="header-inner container flex">
    <a href="/" class="site-logo flex">
      <img class="logo-img" src="/assets/images/asterisk-logo0.svg" alt="Asterisk Logo">
      <span class="logo-type">Asterisk</span>
    </a>
    <span class="liner"></span>
    <nav class="site-nav">
      <ul class="nav-list flex">
	<li><a href="/archive">Archive</a></li>
	<li><a href="/writings">Writings</a></li>
	<li><a href="/visuals">Visuals</a></li>
	<li><a href="/library">Library</a></li>
	<li><a href="/self">Self</a></li>
      </ul>
    </nav>
</header>
